/**
 * Alert Component Styles
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

.alert {
  @apply p-4 rounded-lg border;
}

.alert-info {
  @apply bg-blue-50 border-blue-200 text-blue-800;
}

.alert-success {
  @apply bg-green-50 border-green-200 text-green-800;
}

.alert-warning {
  @apply bg-yellow-50 border-yellow-200 text-yellow-800;
}

.alert-error {
  @apply bg-red-50 border-red-200 text-red-800;
}

.alert-container {
  @apply flex items-start;
}

.alert-icon {
  @apply flex-shrink-0 mr-3;
}

.alert-icon-svg {
  @apply w-5 h-5;
}

.alert-content {
  @apply flex-1;
}

.alert-close {
  @apply flex-shrink-0 ml-3 hover:opacity-75;
}

